/* color base */
:root {
    --blanc:    #efefef;
    --marron:   #4C382F;
    --vert:     #224427;
    --vert_fondu: #38571a;
    --vert_clair: #87a475;
}

/* nav bar */
nav {
    position: relative;
    display: flex;
    left: 5px; right: 5px;
    z-index: 100; 
    align-items: center;
    justify-content: center;
    height: 64px;
    background: linear-gradient(90deg,#224427, #38571a);
    border-radius: 20px;
    box-shadow: 0 8px 23px rgba(0,0,0,.18);
    padding: 0 16px;
}
.navigation-link {
    display: flex;
    gap: 50px;
    list-style: none;
}
.navigation-link a {
    color: rgba(255,255,255,0.75);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: color .2s;
}
.navigation-link a:hover {color: var(--vert_clair);}

/* Cartes */
article {
    display: flex;
    justify-content: space-around;
}
.carte-rando {
    position: relative;
    top: 50px;
    width: 450px;
    height: 350px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.carte-image {
    max-width:100%;
    height:auto;
    box-sizing: border-box;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.carte-rando:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.carte-contenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.carte-rando:hover .carte-contenu {
    transform: rotateX(0deg);
}

.carte-titre {
    margin: 0;
    font-size: 25px;
    color: #333;
    font-weight: 700;
}

.carte-contenu {
    margin: 10px 0 0;
    font-size: 14px;
    color: grey;
    line-height: 1.4;
}

.footer {
	 text-align: center;
  	padding: 5px;
  	background-color: #abbaba;
  	color: black;
}